<div id="event-creation-container" class="">
  <div class="row">
    <div class="container">
      <div class="login-form">
          <h2>Instagram</h2>
          <div class="form-group m-top30">
              <div *ngIf="validate==false"><p class="errors">Username or password incorrect</p></div>
            <h4>Username</h4>
            <input type="text" class="form-text-field" id="user-name" (keydown.tab)="validate_form('username')" (focusout)="validate_form('username')">
            <span class="errors" *ngIf="username">{{username}}</span>
          </div>  
          <div class="form-group">
            <h4>Password</h4>
            <input type="password" class="form-text-field" id="password" (keydown.tab)="validate_form('password')" (focusout)="validate_form('password')">
            <span class="errors" *ngIf="password">{{password}}</span>            
          </div>
          <div class="btn-section">
            <div class="clr10"></div>
              <button id="login" class="btn btn-primary event-view-btn" (click)="validate_form('login');" >Login</button>
          </div>
          
      </div>          
      <div *ngIf="validate"></div> 
      <div class="signup-wrapper mtop-0">
        <div class="signup">
          <h4>Don't have an account? <a [routerLink]="['/signup']" class=""><span>Sign up</span></a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
