/* Add application styles & imports to this file! */

app-home{
  height: 450px;
  padding:0px;
}

.container-fluid{
  background: #f9f9f9;
  margin: 0px 150px;
}

@media only screen and (max-width: 1000px) {
    .container-fluid{
      margin: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
}



@media (min-width: 1200px){ 
  .right-nav {
    width: 23% !important;
    right: 180px !important;
  }
}

.modal-dialog{
  width: 300px;
  height: 90%;
  background: #000;
  border-radius: 0px;
      margin: 0px auto;
}

.modal-body{
  padding: 0px;
  top: 15%;
}

.modal-content{
  width: 300px;
  height: 100%;
  margin: 0px auto;
  vertical-align: baseline;
  border-radius: 0px;
  padding: 0px;
  background: #000;
  box-shadow: none;
}

.modal-header{
  padding: 20px;
  padding-left: 0px;
}

.modal-header span{
  color: #fff;
  text-shadow: none;
  font-family: lato;
  font-size: 35px;
  position: relative;
  right: -50px;
  top: 40px;
  outline: none;
}

.modal-content img{
  width:100%;
}

.modal-backdrop.in {
    opacity: 1;
}